{% extends "base.html" %}

{% block title %}-登陆{% endblock %}

{% block content %}
    <div class="center">
        <div class="register_base panel panel-default ">
            <h2>用户登陆</h2>
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}
            <div id="show-error"></div>
            <form class="form-base" onsubmit="return check(this)" action="/change-password/" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="m-row">
                    <label for="id_username">原始密码:</label>
                    <input type="password" class="form-control" placeholder="原始密码" id="id_password" maxlength="128"
                           name="password">
                </div>

                <div class="m-row">
                    <label for="id_password">新密码:</label>
                    <input type="password" class="form-control" placeholder="不少于6个字符" id="id_password1" name="password1"
                           maxlength="128">
                </div>

                <div class="m-row">
                    <label for="id_password">重复新密码:</label>
                    <input type="password" class="form-control" placeholder="不少于6个字符" id="id_password2" name="password2"
                           maxlength="128">
                </div>

                <input type="submit" class="btn btn-success m-btn" value="登陆">
            </form>
        </div>
    </div>

{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/static/styles/register.css"/>
{% endblock %}

{% block extrascripts %}
    <script src="/static/scripts/form-check.js"></script>
    <script>
        function check(thisform) {
            with (thisform) {
                if (check_password(password) == false) {
                    password.focus();
                    return false
                }
                if (check_password(password1) == false) {
                    password1.focus();
                    return false
                }
                if (check_password(password2) == false) {
                    password2.focus();
                    return false
                }
                if (password1.value != password2.value) {
                    show_error("两次密码不一致");
                    password1.focus();
                    return false;
                }
                return true;
            }
        }
    </script>
{% endblock %}