{% extends "base.html" %}
{% load thumbnail %}
{% block title %}-搜索{% endblock %}

{% block extracss %}
<link href="/static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
                <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
                <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 dd-grid">
            <figure class="effect-sadie">
                <img src="../../static/images/0.jpg" alt="img02"/>
                <figcaption>
                    <h2>【AMV】灰姑娘的毒苹果</h2>

                    <p>up主:请你次苹果 <br>播放量:2500</p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
    </div>
{% endblock %}
