<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dilidili{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css"/>
</head>
<body>
<div class="container">
{% block content %}{% endblock %}
</div>
{% block footer %}
    <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> Welcome to dilidili!</p>
  </div>
{% endblock %}
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
</body>
</html>