.footer {
    text-align: center;
    bottom: 0;
    color: #000;
    width: 100%;
    padding: 19px 15px 0 15px;
}

html, body {
    font-family: "Roboto", "Microsoft YaHei", "÷ו", "ו", sans-serif;
}

.navbar{
	background-color: rgba(23,23,23,1);
    border-color: rgba(23,23,23,1);
    z-index: 1000;
}

.container {
    max-width: 1300px;
}

