.dd-msg-inner h2{
	display: block;
	font-size: 16px;
	color: #525659;
	font-weight: 700;
	overflow: hidden;
	line-height: 24px;
	width: 825px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url('/static/images/v_ttl.png') no-repeat 0 0;
	padding: 8px 0 8px 45px;
}
.dd-pm-item{
	border-bottom: 1px solid #ddd;
	padding:5px;
	margin:10px;
}
.dd-pm-item img{
	width:100%;
	height:100%;
	box-shadow: 0 0 6px #ccc;
}

.dd-pm-item a{

}
.dd-pm-item-meta{
	text-align:right;
	margin:5px 0;
}
.dd-grey{
	color:#999;
}
.dd-black{
	color:black;
}

.dd-left{
	float:left;
}

.dd-right{
	float:right;
}

.dd-bull {
	padding:0 3px;
	color:#BBB;
}

.user-name{
	display:inline;
}
.send{
	display:inline;
	line-height:40px;
}

.history{
	max-height:400px;
	margin-top:20px;
	overflow:auto;
	overflow-x:hidden;
}

.clear{ clear:both}