.register_base {
    position: relative;
    margin: 10% 0;
    text-align: center;
    width: 100%;
}

body {
    background: url('../images/register_bg.jpg') fixed;
    background-size: cover;
}

.center {
  width: 30%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
    .center {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .center {
        width: 60%;
    }
}

.m-row {
    margin: 2% 10%;
    text-align: left;
}

.form-base {
    margin: 5% 0;
}

.m-btn {
    margin-top: 5%;
}